<%- include('./partials/header') %>

<main>
    <h1 class="titreCatalogue">NOTRE CATALOGUE</h1>

    <section class="articles">
        <% allCoffees.forEach(coffee => { %>
        <article>
            <a class="FavLink" title="Ajouter au fav" href="/fav/add/<%= coffee.id %>">[+] favoris ♥</a>
            <img src="<%= coffee.picture %>" alt="<%= coffee.name %>">
            <% console.log(coffee.picture) %>
            <h3><%= coffee.name %></h3>
            <a  href="/detail/<%= coffee.id %>">Voir le détail</a>
        </article>
        <% }) %>

</main>

<%- include('./partials/footer') %>