<%- include('./partials/header') %>

    <main>
        <h1 class="titreCatalogue">Détails du produit</h1>

        <article class="detail-article">
            <h4>Publié le 13/11/2024</h4>
            <h3><%= oneCoffee.name %></h3>
            <p><%= oneCoffee.description%></p>
            <p>Origine: <%= oneCoffee.origin %></p>
            <p>Caractéristique: <%= oneCoffee.characteristic %></p>
            <p>Prix: <%= oneCoffee.price %>€</p>

            <% if (oneCoffee.available) { %>
                <p class="disponible">Disponible</p>
              <% } else { %>
                <p class="indisponible">Indisponible</p>
              <% } %>
              <p>Référence: <%= oneCoffee.reference %></p>

            <a href="/catalogue">Catalogue</a>
        </article>
    </main>

    <%- include('./partials/footer') %>

