<%- include('./partials/header') %>

    <main>
        <h1 class="titreCatalogue">Détails du produit</h1>

        <article class="detail-article">
            <h4>Publié le 13/11/2024</h4>
            <h3><%= oneCoffee.name %></h3>
            <p><%= oneCoffee.description%></p>
            <p>Origine: <%= oneCoffee.origin %></p>
            <p>Prix: <%= oneCoffee.price %>€</p>
            <p>Caractéristique: <%= oneCoffee.characteristic %></p>
            <a href="/catalogue">Catalogue</a>
        </article>
    </main>

    <%- include('./partials/footer') %>

