<%- include('./partials/header') %>

    <main>
        <h1 class="titreCatalogue">Détails du produit</h1>

        <article class="detail-article">

            <a class="FavLink" title="Ajouter au fav" href="/fav/add/<%= oneCoffee.id %>">[+] favoris ♥</a>
            <h3><%= oneCoffee.name %></h3>
            <p><%= oneCoffee.description%></p>
            <p>Origine: <%= oneCoffee.origin %></p>
            <p>Caractéristique: <%= oneCoffee.characteristic %></p>
            <p>Prix: <%= oneCoffee.price %>€</p>

            <% if (oneCoffee.available) { %>
                <p class="disponible">Disponible</p>
              <% } else { %>
                <p class="indisponible">Indisponible</p>
              <% } %>
              <p>Référence: <%= oneCoffee.reference %></p>

            <a href="/catalogue">Catalogue</a>
        </article>
    </main>

    <%- include('./partials/footer') %>

