<%- include('./partials/header') %>

<main>
    <h1>Vos cafés favoris</h1>

    <section class="articlesFav">
        <% favs.forEach(fav => { %>
        <article>
            <a class="FavLink" title="Supprimer des fav" href="/fav/remove/<%= fav.id %>">[-] favoris ♥</a>
            <img src="<%= fav.picture %>" alt="<%= fav.name %>">
            <h3><%= fav.name %></h3>
            <a  href="/detail/<%= fav.id %>">Voir le détail</a>
        </article>
        <% }) %>

</main>


<%- include('./partials/footer') %>